<section id="manageRentals">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/rawpixel-com.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="space-50"></div>
        <div class="motto text-center">
            <h1>Manage Rentals</h1>
            <h3>You can manage your rentals here.</h3>
            <br />
        </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <ng-container *ngIf="rentals && rentals.length > 0">
            <div *ngFor="let rental of rentals; let i = index" class="col-md-3 col-xs-6">
              <!-- <app-rental-incoming-list-item [booking]="bookin"></app-rental-incoming-list-item> -->
              <div class="card" data-background="declined">
                <div class="card-image">
                  <a routerLink="/rentals/{{rental._id}}">
                    <img class="img" src="{{rental.image}}">
                  </a>
                </div>
                <div class="card-body">
                  <label class="label label-warning">{{rental.province}}</label>
                  <h5 class="card-title">{{rental.rentalname}} Trainer</h5>
                  <div class="card-description">
                    <p><button class="btn btn-info" routerLink="/rentals/{{rental._id}}/edit">商品編集</button></p>
                    <p><button class="btn btn-info" routerLink="/rentals/{{rental._id}}/editschedule">受付時間</button></p>
                    <!-- <p><button class="btn btn-danger" routerLink="/rentals/manage/revenue/{{rental._id}}">この商品の売上</button></p> -->
                    <!-- <p><button class="btn btn-danger" routerLink="/rentals/manage/bookings/{{rental._id}}">確定予約の確認</button></p> -->
                    <!-- <p><button class="btn btn-sm btn-wd btn-danger btn-round">Delete</button></p> -->
                    <!-- <hr> -->
                  </div>
                </div>
                <!-- </a> -->
                <!-- <div class="card-footer" *ngIf="payment.status === 'pending'">
                  <button class="btn btn-sm btn-danger" (click)="acceptPayment(payment)">Accept</button>
                  <button class="btn btn-sm" (click)="declinePayment(payment)">Decline</button>
                </div> -->
              </div>
            </div>
          </ng-container>
          <div class="col-md-4">
            <div *ngIf="rentals && rentals.length == 0" class="card card-pricing">
              <a routerLink="/rentals/new">
                <div class="card-body">
                  <!-- <h3 class="card-category">No bookings found!</h3> -->
                  <h3 class="card-title">No Rentals yet!</h3>
                  <!-- <p class="card-description"></p>
                  <div class="card-footer">
                    <p class="btn btn-warning btn-round">Find my Trainer</p>
                  </div> -->
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <h1 class="page-title">My Rentals</h1> レンタル削除ボタンがまだ移植できていない為、コードを残している！！！
  <div class="row">
    <ng-container *ngIf="rentals && rentals.length > 0">
      <div *ngFor="let rental of rentals; let i = index" class="col-md-4">

          <div class="card card-product">
            <div class="card-body">
              <div class="card-actions text-center">
                <button mat-raised-button type="button" 
                        class="btn btn-danger btn-link" 
                        matTooltip="Remove" 
                        [matTooltipPosition]="'below'"
                        (click)="swalConfirmation.show(); rentalDeleteIndex = i"><i class="material-icons">close</i>
                </button>
                <swal #swalConfirmation 
                      title="この商品を削除しますか？" 
                      text="この決定は取り消せません" 
                      type="question"
                      showCancelButton="true"
                      confirmButtonText="削除する"
                      [focusCancel]="true"
                      (confirm)="swalDeleted.show()"
                      (cancel)="rentalDeleteIndex = undefined">
                </swal>
                <swal #swalDeleted 
                      title="削除しました" 
                      type="error"
                      (confirm)="deleteRental(rental._id)">
                </swal>
              </div>
            </div>
          </div>
      </div>
    </ng-container>
  </div> -->

</section>
