<div class="wrapper">
    <div class="page-header page-header-small settings-background" style="background-image: url('./assets/img/top-banner-half.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="space-top"></div>
            <div class="logo">
                <img src="assets/img/logo/anytime-pt-logo2.png" alt="">
            </div>
            <div class="motto text-center">
                <h3>Here are the professionals.</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Team Members</h2>
                        <h5 class="description">予約プラットフォームを誰でも持てる時代へ.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ipad-container">
                            <img src="assets/img/members/hamada.png" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-1">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-info">
                                <i class="nc-icon nc-atom" aria-hidden="true"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">CEO 浜田 篤</h4>
                                <p>東京理科大学理工学部卒</p>
                                <p>本田技研工業入社後Apple CarplayやGoogle Android Autoの研究開発の為シリコンバレーに駐在。文化の違いに衝撃を受ける。</p>
                                <p>帰国後、教育ITベンチャーに転職し、大企業とベンチャーの違いやITアウトソーシングのノウハウを蓄え独立。</p>
                                <p>教育ベンチャー時代の後輩がインド人で、それをきっかけにインドを中心とした開発アウトソーシングで受託開発を行うようになる。</p>
                                <p>ITに関する豊富な知見を活かし、スタートアップから上場企業まで幅広く技術顧問をしながら、Aeru.meのシステムを開発。</p>
                                <p>法人化＆サービスローンチに至る。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-success">
                                <i class="nc-icon nc-layout-11"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">India team</h4>
                                <p>インドのパートナーを中心に開発のアウトソーシングを行なっています。</p>
                                <p>他にもルーマニアやインドネシアのデザインパートナー、スロバキアの技術エキスパートといった強力なパートナーが居ることにより、商品力のあるサービス開発が可能になっています。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <div class="iphone-container">
                            <img src="assets/img/members/india-team.png" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
