<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/airbridal-bg.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="logo">
                <img src="assets/img/logo/airbridal-logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Team Members</h2>
                        <h5 class="description">ウェディングに関わるすべての人をハッピーに</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ipad-container">
                            <img src="assets/img/members/hamada.png" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-1">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-info">
                                <i class="nc-icon nc-atom" aria-hidden="true"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">代表挨拶</h4>
                                エアブライダルはウェディングに関わる全ての人をハッピーにしたいという想いからスタートしました。<br>
                                結婚するお二人は多くの人に祝福され、幸せな結婚式を挙げたいと思っています。<br>
                                ウェディングビジネスに関わる事業者の方々も「結婚するお二人の幸せのお手伝いをしたい」という人がほとんどです。<br>
                                <br>
                                エアブライダルはそんなウェディングに関わる人たちのために常に誠実で新しいサービスを提供したいと考えています。<br>
                                カップルの皆さんには価格の透明性や多くの選択ができる環境を。<br>
                                ウェディングベンダーの皆さんには潜在顧客の掘り起こしと新たな顧客との出会いの場の提供、適正な利益が取れる環境を用意しました。<br>
                                <br>
                                私たちは少子化、生涯未婚率の増加、結婚式をしないカップルの増加といった荒波を乗り越えるため、ウェディングに関わる全ての人と協力し、ウェディングに関わるすべての人をハッピーにしたいと考えています。<br><br>
                            </div>
                            <div class="description">
                                Founder　遠山 純生
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-success">
                                <i class="nc-icon nc-layout-11"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">運営会社</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">会社名</td>
                                                <td>エアブライダル株式会社</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">本社</td>
                                                <td>
                                                    東京都中央区銀座７ー１３ー６<br>
                                                    サガミビル２階
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">代表</td>
                                                <td>遠山 純生</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">設立</td>
                                                <td>２０１８年４月２日</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">顧問弁護士</td>
                                                <td>
                                                    弁護士法人 内田・鮫島法律事務所<br>
                                                    鮫島 正洋 弁護士
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <div class="iphone-container">
                            <img src="assets/img/members/india-team.png" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
