<div class="wrapper">
    <div class="page-header page-header-small settings-background" style="background-image: url('./assets/img/top-banner-half.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="space-top"></div>
            <div class="logo">
                <img src="assets/img/logo/anytime-pt-logo2.png" alt="">
            </div>
            <div class="motto text-center">
                <h3>Here are the professionals.</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Team Members</h2>
                        <h5 class="description">予約プラットフォームを誰でも持てる時代へ.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ipad-container">
                            <img src="assets/img/members/hamada.png" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-1">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-info">
                                <i class="nc-icon nc-atom" aria-hidden="true"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">CEO 浜田 篤</h4>
                                <p>東京理科大学理工学部卒</p>
                                <p>本田技研工業入社後、車のセンサー周りの研究開発を行った後、Apple, Googleとの共同研究の為シリコンバレーに駐在。文化の違いに衝撃を受ける。</p>
                                <p>帰国後、教育ITベンチャーに転職しCTOとしての実務経験を詰み、大企業とベンチャーの違いやITアウトソーシングのノウハウを蓄えた後、独立。</p>
                                <p>独立後はスタートアップ企業で培ったシステムのアウトソーシング（外注）ノウハウを活かしてインドの開発パートナーとアライアンスを結び、中小企業のコーポレートページなどの受託開発を中心に行うようになる。</p>
                                <p>受託ならではの利益率の低さに頭を抱えていたところ、様々な中小企業経営者の方々と接する過程で、エンジニアのマネジメントや評価、組織設計、ITシステムの事業計画の作り方、といったノウハウに需要があると気づき、経営者、経営陣向けにITコンサルティングを行うようになる。</p>
                                <p>その後はITコンサルで得られる収益と隙間時間全てを投入し、約一年の時を経てAeru.me基盤システムを開発。</p>
                                <p>法人化＆サービスローンチに至る。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <!-- <div class="icon icon-success">
                                <i class="nc-icon nc-layout-11"></i>
                            </div> -->
                            <div class="description">
                                <h4 class="info-title">India team</h4>
                                <p>Aeru.meプラットフォームはインドの開発パートナーを中心にサービス開発を行なっています。</p>
                                <p>他にもルーマニアやインドネシアのデザインパートナー、スロバキアの技術顧問（CTO）といった強力なパートナーの協力を得ることで、商品力のあるサービス提供が可能になっています。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <div class="iphone-container">
                            <img src="assets/img/members/india-team.png" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
