<div class="row">
  <div class="col-sm-12 col-md-8 ml-auto mr-auto" style="padding-left:0;padding-right:0;">
    <div class="card card-calendar">
      <div class="card-body ">
        <div id="fullCalendar"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">予約申し込みフォーム</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body"> 
      <p>合計金額：<em>{{newBooking.totalPrice}}</em>円</p>

      <!--このページもwizardに移行したのでは？？
      <app-payment (paymentComfirmed)="onPaymentConfirmed($event)"></app-payment>
        -->

      <p>予約申込しますか？</p>
      <p>申込後、30分以内に商品オーナーが受理しなかった場合は自動キャンセルになります。</p>
      <p>その場合、費用が発生することはありません。</p>
    </div>
    <div class="modal-footer">
      <button [disabled]="isAutoBooking ? false : !newBooking.paymentToken" type="button" class="btn btn-danger" (click)="createBooking()">予約申込する</button>
      <button mat-raised-button class="btn" (click)="modal.close('Close click')">キャンセル</button>
    </div>
    <div *ngIf="errors && errors.length>0" class="alert alert-danger modal-error">
      <p *ngFor="let error of errors">
        {{error.detail}}
      </p>
    </div>
  </ng-template>