<section id="login-resetpassword">
    <div class="wrapper">
      <div class="page-header" style="background-image: url('./assets/img/top-banner.jpg');">
        <div class="filter"></div>
          <div class="container">
            <div class="space-110"></div>
            <div class="row">
              <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                <div class="card card-register">
                  <h3 class="title">Password Resetting</h3>
                  <div class="space-top"></div>
                  <label class="text-center">You can reset password from here.</label>
                  <div *ngIf="notifyMessage" class="alert alert-success">
                    {{notifyMessage}}
                  </div>
                  <div *ngIf="errors.length > 0" class="alert alert-danger">
                    <p *ngFor="let error of errors">
                      {{error.detail}}
                    </p>
                  </div>
                  <form class="register-form" [formGroup]="loginForm" (ngSubmit)="sendResetEmail()">
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="nc-icon nc-email-85"></i>
                          </span>
                        </div>
                        <input type="email"
                                class="form-control"
                                id="email"
                                formControlName="email"
                                placeholder="Email" (focus)="focus=true" (blur)="focus=false">
                      </div>
                      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-danger btn-block btn-round">Reset Password</button>
                    </form>
                </div>
              </div>
            </div>
            <div class="footer register-footer text-center">
              <h6>&copy;{{footer | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> Aeru.me, Inc</h6>
            </div>
          </div>
        </div>
    </div>
</section>
  
    