<section id="register">
    <div class="wrapper">
        <div class="page-header" style="background-image: url('./assets/img/register-bg.jpg');">
            <div class="filter"></div>
                <div class="container">
                    <div class="space-110"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12 ml-auto">
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-id-card "></i>
                                </div>
                                <div class="description">
                                    <h3> Verified Trainers </h3>
                                    <p>厳しい認証を突破した希少なパーソナルトレーナーがあなたの自己実現をサポートします.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-handshake-o"></i>
                                </div>
                                <div class="description">
                                    <h3> Easy Booking </h3>
                                    <p>気に入ったトレーナーを見つけてから予約まで、最短3クリックで完了します.</p>
                                </div>
                            </div>
                            <!-- <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                                <div class="description">
                                    <h3> Elected community. </h3>
                                    <p>会員登録は審査制になります. 選ばれしトレーナーと選ばれし会員がマッチングできる特別なサービスです.</p>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-12 mr-auto">
                            <div class="card card-register">
                                <h3 class="title">Register</h3>
                                <div class="social-line text-center">
                                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <!-- <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a> -->
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div *ngIf="errors.length > 0" class="alert alert-danger">
                                    <p *ngFor="let error of errors">{{error.detail}}</p>
                                </div>
                                <form class="register-form" #registarForm="ngForm">
                                    <!-- <label>Email</label> -->
                                    <div class="form-group">
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-email-85"></i>
                                                </span>
                                            </div>
                                            <input [(ngModel)]="formData.email"
                                                    name="email"
                                                    type="email"
                                                    class="form-control"
                                                    id="email"
                                                    placeholder="Email" (focus)="focus=true" (blur)="focus=false"
                                                    required>
                                            </div>
                                    </div>

                                    <!-- <label>Password</label> -->
                                    <div class="form-group">
                                        <input [(ngModel)]="formData.password"
                                                name="password"
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                placeholder="Password" (focus)="focus1=true" (blur)="focus1=false"
                                                required>
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="formData.passwordConfirmation"
                                                name="passwordConfirmation"
                                                type="password"
                                                class="form-control"
                                                id="passwordConfirmation"
                                                placeholder="Confirm Password" (focus)="focus2=true" (blur)="focus2=false"
                                                required>
                                    </div>
                                    <button [disabled]="!registarForm.valid" type="submit" class="btn btn-danger btn-block btn-round"  (click)="register()">Request to become Member</button>
                                </form>
                                <div class="forgot">
                                    <a routerLink="/login" class="btn btn-link btn-danger">Already have an account?</a>
                                </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>




<!--
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h2>Member Registration</h2>

        <form #registarForm="ngForm">
          <div class="form-group">
            <label for="username">ユーザー名</label>
            <input [(ngModel)]="formData.username"
                   #username="ngModel"
                   name="username"
                   type="text"
                   class="form-control"
                   id="username"
                   required>

              <div *ngIf="username.invalid && (username.dirty || username.touched)"
                  class="alert alert-danger">
            
                  <div *ngIf="username.errors.required">
                      ユーザー名は必須です
                  </div>
                  <div *ngIf="username.errors.minlength">
                      Name must be at least 4 characters long.
                  </div>
              </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="formData.email"
                   name="email"
                   type="email"
                   class="form-control"
                   id="email"
                   required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="formData.password"
                   name="password"
                   type="password"
                   class="form-control"
                   id="password"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Password(確認)</label>
            <input [(ngModel)]="formData.passwordConfirmation"
                   name="passwordConfirmation"
                   type="password"
                   class="form-control"
                   id="passwordConfirmation"
                   required>
          </div>


          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked="">
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
                <a href="#something">利用規約</a>に同意する
              </label>
            </div>
          </div>


          <button [disabled]="!registarForm.form.valid" (click)="register()" type="submit" class="btn btn-bwm">Submit</button>
        </form>
      </div>

    </div>
  </div>
-->

</section>
