<section id="register">
    <div class="wrapper">
        <div class="page-header" style="background-image: url('./assets/img/register-bg.jpg');">
            <div class="filter"></div>
                <div class="container">
                    <div class="space-110"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12 ml-auto">
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-id-card "></i>
                                </div>
                                <div class="description">
                                    <h3> Verified Trainers </h3>
                                    <p>厳しい認証を突破した希少なパーソナルトレーナーがあなたの自己実現をサポートします.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-handshake-o"></i>
                                </div>
                                <div class="description">
                                    <h3> Easy Booking </h3>
                                    <p>気に入ったトレーナーを見つけてから予約まで、最短４クリックで完了します.</p>
                                </div>
                            </div>
                            <!-- <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                                <div class="description">
                                    <h3> Elected community. </h3>
                                    <p>会員登録は審査制になります. 選ばれしトレーナーと選ばれし会員がマッチングできる特別なサービスです.</p>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-12 mr-auto">
                            <div class="card card-register">
                                <h3 *ngIf="isFBloggedIn" class="title">Registering with Facebook</h3>
                                <ng-container *ngIf="!isFBloggedIn">
                                    <h3 class="title">Register</h3>
                                    <div class="social-line text-center">
                                        <button class="btn btn-neutral btn-facebook btn-just-icon" (click)="signInWithFB()">
                                            <i class="fa fa-facebook-square"></i>
                                        </button>
                                    </div>
                                    <div class="division">
                                        <div class="line l"></div>
                                        <span>or</span>
                                        <div class="line r"></div>
                                    </div>
                                </ng-container>

                                <div *ngIf="errors.length > 0" class="alert alert-danger">
                                    <p *ngFor="let error of errors">{{error.detail}}</p>
                                </div>
                                <form class="register-form" #registerForm="ngForm" (ngSubmit)="register()">
                                    <div class="form-group">
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                            </div>
                                            <input [(ngModel)]="formData.username"
                                                    name="username"
                                                    type="username"
                                                    class="form-control"
                                                    id="username"
                                                    placeholder="Username" (focus)="focus=true" (blur)="focus=false"
                                                    required>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-email-85"></i>
                                                </span>
                                            </div>
                                            <input [(ngModel)]="formData.email"
                                                    name="email"
                                                    type="email"
                                                    class="form-control"
                                                    id="email"
                                                    placeholder="Email" (focus)="focus1=true" (blur)="focus1=false"
                                                    required >
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="formData.password"
                                                name="password"
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                placeholder="Password" (focus)="focus2=true" (blur)="focus2=false"
                                                required>
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="formData.passwordConfirmation"
                                                name="passwordConfirmation"
                                                type="password"
                                                class="form-control"
                                                id="passwordConfirmation"
                                                placeholder="Confirm Password" (focus)="focus3=true" (blur)="focus3=false"
                                                required>
                                    </div>
                                    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-danger btn-block btn-round">Request to become Member</button>
                                </form>
                                <div class="forgot">
                                    <a routerLink="/login" class="btn btn-link btn-danger">Already have an account?</a>
                                </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
