<section id="userBookings">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ana-bernardo.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="space-50"></div>
        <div class="motto text-center">
            <h1>My Bookings</h1>
            <h3>You can check your bookings here.</h3>
            <br />
        </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <ng-container *ngIf="bookings.length > 0">
          <div *ngFor="let booking of bookings; let i = index" class='col-md-3 col-xs-6'>
            <!-- <app-mybooking-list-item [booking]="bookin"></app-mybooking-list-item> -->
            <div class="card">
                <a routerLink="/rentals/{{booking.rental._id}}">
                  <div class="card-image">
                    <img class="img" src="{{booking.rental.image}}">
                  </div>
                  <div class="card-body">
                    <label class="label label-warning">{{ booking.rental.province }}</label>
                    <h5 class="card-title">{{ booking.rental.rentalname }}</h5>
                    <div class="card-description">
                      <div>Date：{{ booking.startAt | formatDate }}</div>
                      <div>Start time ：{{ booking.startAt | formatTime }}</div>
                      <div>Course time：{{ booking.courseTime }}min</div>
                    </div>
                  </div>
                </a>
                <!-- <hr> -->
                <div class="card-footer">
                  <button *ngIf="!isExpired(booking.startAt)" class="btn btn-danger" (click)="deleteConfirmation(booking._id); bookingDeleteIndex = i">予約をキャンセルする</button>
                  <!-- <button *ngIf="isExpired(booking.startAt)" class="btn btn-danger" (click)="deleteConfirmation(booking._id); bookingDeleteIndex = i">レビューする</button> -->
                  <app-review *ngIf="!booking.review && isExpired(booking.startAt)" [bookingId]="booking._id" (reviewSubmitted)="reviewHandler($event, i)"></app-review>  
                </div>
            </div>
          </div>
          </ng-container>
          <div class="col-md-4">
              <div *ngIf="bookings.length==0" class="card card-pricing">
                <a routerLink="/rentals">
                  <div class="card-body">
                    <!-- <h3 class="card-category">No bookings found!</h3> -->
                    <h3 class="card-title">No bookings found !</h3>
                    <p class="card-description"></p>
                    <div class="card-footer">
                      <p class="btn btn-warning btn-round">Find my Trainer</p>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        