<section id="userBookings">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ana-bernardo.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="space-50"></div>
        <div class="motto text-center">
            <h1>My Bookings</h1>
            <h3>You can check your bookings here.</h3>
            <br />
        </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <ng-container *ngIf="bookings.length > 0">
          <div class='col-md-3 col-xs-6' *ngFor="let booking of bookings">
            <!-- <app-mybooking-list-item [booking]="bookin"></app-mybooking-list-item> -->
            <div class="card">
              <a routerLink="/rentals/{{booking.rental._id}}">
                <div class="card-image">
                  <img class="img" src="{{booking.rental.image}}">
                </div>
                <div class="card-body">
                  <label class="label label-warning">{{ booking.rental.province }}</label>
                  <h5 class="card-title">{{ booking.rental.rentalname }}</h5>
                  <div class="card-description">
                    <div>Date：{{ booking.startAt | formatDate }}</div>
                    <div>Start time ：{{ booking.startAt | formatTime }}</div>
                    <div>Course time：{{ booking.courseTime }}min</div>
                    <!-- <hr> -->
                  </div>
                </div>
              </a>
              <div class="card-footer">

                <button class="btn btn-danger" (click)="deleteBooking(booking._id)">キャンセルする</button>
                
                <!-- <app-review></app-review> -->  
              </div>
            </div>
          </div>
          </ng-container>
          <div *ngIf="bookings.length==0" class="alert alert-warning">
            まだ予約中の商品はありません。商品を探しに行きますか？
            <a class="btn btn-danger" routerLink="/rentals">商品を見に行く</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </section>
        