<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Congratuations! Let's activate your account.</h1>
            <h3>Actication Email has been sent.</h3>
            <br />
            <a href="#" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <a routerLink="/" class="btn btn-outline-neutral btn-round">Back to Top page</a>

        </div>
    </div>
</div>

