<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/top-banner-half.jpg')">
        <div class="filter"></div>
        <div class="container">
                <div class="space-50"></div>
                <div class="motto text-center">
                    <h2>パートナー募集</h2>
                    <h3>Partnership program.</h3>
                    <br />
                </div>
            </div>
    </div>
    <div class="container">

    </div>
</div>
