<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('./assets/img/uriel-soberanes.jpg')">
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
                    <div class="angular-logo">
                        <img src="./assets/img/icons/angular2-logo.png" alt="">
                    </div>
					<h1 class="presentation-title">Aeru.me</h1>
				</div>

				<h2 class="presentation-subtitle text-center">あらゆる人・モノ・サービス予約をこれ一つで </h2>
			</div>
		</div>
		<h6 class="category category-absolute">
			&copy;{{footer | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> Aeru.me, Inc
		</h6>
	</div>

	<div class="section section-dark section-summary">
		<div class="container">
			<div class="row">
				<div class="col-md-9 ml-auto mr-auto text-center">
					<h2 class="title">最短４クリックで予約完了</h2>
					<p class="description">
						従来の予約サービスを圧倒するUIとUXで、来訪者を予約完了まで導きます。
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-cards section-gold">
		<div class="codrops-header">
			<div class="row">
				<div class="col-md-5 col-lg-4">
					<div class="section-description">
						<h3 class="title">綺麗でシンプルなUI</h3>
						<h6 class="category">必要に満ちたシンプルなデザイン</h6>
						<h5 class="description">必要な機能をできる限りシンプルに、できる限り少ないクリック数で目的を達成できるよう設計することで、来訪者がCV（コンバージョン）しやすいサービスになっています。これによりユーザーの途中離脱による機会損失を最小限に留めます。</h5>
					</div>
				</div>
				<div class="col-md-7 col-lg-8">
					<div class="image-container">
						<img src="./assets/img/carduri2.png" alt="Cards">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fadeInAnim">
		<div class="section section-content section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-9 ml-auto mr-auto text-center">
						<h2 class="title">あらゆるデバイス画面に対応</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="image-container">
							<img class="img" src="./assets/img/presentation-page/iPad-content-2.png"/>
							<img class="area-img add-animation" src="./assets/img/presentation-page/ipad-left-img.JPG" >
							<img class="info-img add-animation" src="./assets/img/presentation-page/ipad-right-img.JPG" />
						</div>
					</div>

					<div class="col-md-5 ">
						<div class="section-description">
							<h3 class="title">タブレットUIにも対応</h3>
							<h6 class="category">安心のレスポンシブデザイン対応</h6>
							<h5 class="description">PC表示・スマホ表示に対応しているのはもちろんのこと、タブレット表示にも対応。あらゆる場面で気持ちよい操作が可能です。</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-sections section-gray">
		<div class="container">
			<div class="col-md-10 ml-auto mr-auto">
				<div class="section-description text-center">
					<h2 class="title">必要十分な機能を完備</h2>
					<h5 class="description"> 会員登録機能はもちろんのこと、商品毎の金額設定、GoogleMap、相互レビュー、スケジュール管理、売上管理といった様々な必要となる機能を完備しています。</h5>
					<br>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="section-cols">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/header-1.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/header-2.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/header-3.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/header-4.jpg" alt="" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/team-cards-social.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/bg-pricing-card.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/white-pricing-card.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/team-member-card.jpg" alt="" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/testimonials-1.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/blog-bg-cards.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/our-products.jpg" alt="" />
						</div>
						<div class="col-md-3">
							<img src="./assets/img/presentation-page/screenshots/projects-cards.jpg" alt="" />
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="section section-icons">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="icons-nucleo">
						<i class="first-left-icon nc-icon nc-planet add-animation" ></i>
						<i class="second-left-icon nc-icon nc-touch-id add-animation"></i>
						<i class="third-left-icon nc-icon nc-lock-circle-open add-animation"></i>
						<i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
						<i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
						<i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
						<i class="seventh-left-icon nc-icon nc-favourite-28 add-animation"></i>
						<i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
						<i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
						<i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
					</div>
				</div>
				<div class="col-md-6 text-center">
	                <h2 class="title revealOnScroll">さあ始めましょう</h2>
	                <h5 class="description">
	                    新しくビジネスをスタートするのにもう何千万円もの予算は必要ありません。サービスローンチまでの開発「期間」といった見えにくいコストに対しても心配する必要はもうありません。これにより本来の事業内容に集中できます。
	                </h5> 
					<br/>
	                <a [routerLink]="['/trialform']" class="btn btn-danger btn-round btn-lg" >トライアルをリクエストする</a>
				</div>
				<div class="col-md-3">
					<div class="icons-nucleo">
						<i class="first-right-icon nc-icon nc-bank add-animation"></i>
						<i class="second-right-icon nc-icon nc-tag-content add-animation"></i>
						<i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
						<i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
						<i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
						<i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
						<i class="seventh-right-icon nc-icon nc-simple-add add-animation"></i>
						<i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
						<i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
						<i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-free-demo section-dark" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="icon-github">
						<i class="fa fa-github"></i>
					</div>
					<div class="section-description">
						<h3 class="title">Free Demo</h3>
						<h5 class="description">Do you want to test and see the benefits of this kit before purchasing it? You can give the demo version a try. It features enough basic components for you to get a feel of the design and also test the quality of the code. Get it free on GitHub!</h5>
						<div class="row space-top">
							<div class="col-md-6">
								<a href="https://github.com/creativetimofficial/paper-kit/tree/bootstrap4-development" target="_blank" class="btn btn-round btn-neutral">View Demo on Github</a>
							</div>
							<div class="col-md-6">
								<a class="github-button" href="https://github.com/creativetimofficial/paper-kit" data-show-count="true" data-size="large" aria-label="Star ntkme/github-buttons on GitHub">Star</a>

								<a class="github-button" href="https://github.com/creativetimofficial/paper-kit" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 offset-md-1">
					<div class="row">
						<div class="col-md-6">
							<div class="card card-pricing">
								<div class="card-body">
									<h3 class="card-title">Free Demo</h3>
									<ul>
										<li><b>60</b> Components*</li>
										<li><b>3</b> Example Pages</li>
										<li><b>0</b> Customised Plugins</li>
										<li><i class="fa fa-times text-danger"></i> Customised Icons </li>
										<li><i class="fa fa-times text-danger"></i> Beautiful Cards</li>
										<li><i class="fa fa-times text-danger"></i> Sections</li>
										<li><i class="fa fa-times text-danger"></i> Premium Support</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-pricing">
								<div class="card-body">
									<h3 class="card-title">PRO Version</h3>
									<ul>
										<li> <b>1000+</b> Components*</li>
										<li> <b>15</b> Example Pages</li>
										<li> <b>8</b> Customised Plugins</li>
										<li><i class="fa fa-check text-success"></i> Customised Icons </li>
										<li><i class="fa fa-check text-success"></i> Beautiful Cards</li>
										<li><i class="fa fa-check text-success"></i> Sections</li>
										<li><i class="fa fa-check text-success"></i> Premium Support</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<br>
							<p class="description">*Components: buttons, social buttons, navbars, dropdowns, tabs, tables, cards, select, tags, sliders etc. and their customisation by classes.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="section section-testimonials">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h2 class="title">多くの人から支持されています</h2>
					<h5 class="description">このサービスは世界の様々なデベロッパー、デザイナー、クライアントの支援があり、ここまで形にすることができました。今後もより多くの方の期待に答えられるよう努力を続けてまいります。</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-2 ml-auto">
					<div class="testimonials-people">
						<img class="left-first-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/110862/thumb.?1482812727" alt="" />
						<img class="left-second-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/139481/thumb.jpg?1485460613" alt="" />
						<img class="left-third-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/152441/thumb.jpg?1488233314" alt="" />
						<img class="left-fourth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/134607/thumb.?1487680276" alt="" />
						<img class="left-fifth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/161506/thumb.?1489848178" alt="" />
						<img class="left-sixth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/77627/thumb.jpg?1487360092" alt="" />
					</div>
				</div>

				<div class="col-md-6">

					<div class="page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card-avatar">
										<img class="img" src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" />
									</div>
									<div class="card-body">
										<h5 class="card-description">
										"Love it. Use it is absolutely improved my business."
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Chase Jackson</h4>
											<h6 class="card-category">Startup CEO</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card-avatar">
										<img class="img" src="https://s3.amazonaws.com/creativetim_bucket/photos/134607/thumb.?1487680276" />
									</div>
									<div class="card-body">
										<h5 class="card-description">
										"Love the shapes and color palette on this one! Perfect for one of my pet projects!"
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Robin Leysen</h4>
											<h6 class="card-category">Web Developer</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card-avatar">
										<img class="img" src="https://s3.amazonaws.com/creativetim_bucket/photos/125268/thumb.jpeg?1497799215" />
									</div>
									<div class="card-body">
										<h5 class="card-description">
										"Love it. Use it for prototypes projects. Cheers!"
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Cristi Jora</h4>
											<h6 class="card-category">Web Developer</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                        </ngb-carousel>
	                </div>
				</div>

				<div class="col-md-2 mr-auto">
					<div class="testimonials-people">
						<img class="right-first-person add-animation" src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="" />
						<img class="right-second-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/125268/thumb.jpeg?1497799215" alt="" />
						<img class="right-third-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/123334/thumb.JPG?1479459618" alt="" />
						<img class="right-fourth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/118235/thumb.?1477435947" alt="" />
						<img class="right-fifth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/18/thumb.png?1431433244" alt="" />
						<img class="right-sixth-person add-animation" src="https://s3.amazonaws.com/creativetim_bucket/photos/167683/thumb.?1491014996" alt="" />
					</div>
				</div>

			</div>
		</div>

		<div class="our-clients">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-2 col-5">
						<img src="./assets/img/demo/vodafone.jpg" alt="" />
					</div>
					<div class="col-md-2 col-5">
						<img src="./assets/img/demo/microsoft.jpg" alt="" />
					</div>
					<div class="col-md-2 col-5">
						<img src="./assets/img/demo/harvard.jpg" alt="" />
					</div>
					<div class="col-md-2 col-5">
						<img src="./assets/img/demo/stanford.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
