<section id="rentalDetails" *ngIf="rental">
    <div class="upper-section">
      <div class="row">
        <div class="col-md-6">
          <img src="{{rental.image}}" alt="">
        </div>
        <div class="col-md-6">
          <!-- Will be replaced with map !!!! -->
          <img src="{{rental.image}}" alt="">
        </div>
      </div>
    </div>
  
    <div class="details-section">
      <div class="row">
        <div class="col-md-8">
          <div class="rental">
            <app-editable-select [(entity)]="rental"
                                 [field]="'shared'" 
                                 [options]="[true, false]"
                                 [className]="'rental-type'"
                                 [style]= "{ 'display': 'inline-block' }"
                                 (entityUpdated)="updateRental(rental._id, $event)"
                                 >
            </app-editable-select>
            <app-editable-select [(entity)]="rental"
                                [field]="'category'" 
                                [options]="rentalCategories"
                                [className]="'rental-type'"
                                [style]= "{ 'display': 'inline-block' }"
                                (entityUpdated)="updateRental(rental._id, $event)"
                                >
            </app-editable-select>

            <div class="rental-owner">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="">
              <span>{{rental.user.username}}</span>
            </div>
            <app-editable-input [(entity)]="rental"
                                [field]="'rentalname'" 
                                [className]="'rental-title'"
                                (entityUpdated)="updateRental(rental._id, $event)"
                                >
            </app-editable-input>

            <app-editable-input [(entity)]="rental"
                                [field]="'description'" 
                                [className]="'rental-city'"
                                (entityUpdated)="updateRental(rental._id, $event)"
                                >
            </app-editable-input>
            <div class="rental-room-info">
              <span><i class="fa fa-building"></i>{{rental.bedrooms}} bedrooms</span>
              <span><i class="fa fa-user"></i> {{rental.bedrooms + 4}} guests</span>
              <span><i class="fa fa-bed"></i> {{rental.bedrooms + 2}} beds</span>
            </div>
            <p class="rental-description">
              {{rental.description}}
            </p>
            <hr>
            <div class="rental-assets">
              <h3 class="title">Skills</h3>
              <div class="row">
                <div class="col-md-6">
                  <span><i class="fa fa-asterisk"></i> Cooling</span>
                  <span><i class="fa fa-thermometer"></i> Heating</span>
                  <span><i class="fa fa-location-arrow"></i> Iron</span>
                </div>
                <div class="col-md-6">
                  <span><i class="fa fa-desktop"></i> Working area</span>
                  <span><i class="fa fa-cube"></i> Washing machine</span>
                  <span><i class="fa fa-cube"></i> Dishwasher</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> 
          <app-booking-with-time [rental]="rental"></app-booking-with-time>
        </div>
      </div>
  
      <!--
      <br>
      <div class="row">
        <div class="col-md-12"> 
          <div class="rental">
            <hr>
            <h3 class="title">週間出勤表</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">月</th>
                        <th scope="col">火</th>
                        <th scope="col">水</th>
                        <th scope="col">木</th>
                        <th scope="col">金</th>
                        <th scope="col">土</th>
                        <th scope="col">日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                        <td>10:00-17:00</td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      -->

    </div>
  </section>