<a routerLink="{{rental._id}}">
  <div class="card">
    <div class="card-image">
      <img class="img" src="{{rental.image}}">
    </div>
    <div class="card-body">
      <label class="label label-warning">{{ rental.province }}</label>
      <h5 class="card-title">{{ rental.rentalname }}</h5>
      <div class="card-description">{{ rental.cardDescription }}</div>
      <!-- <hr />
      <div class="card-footer">
        <div class="author">
          <span>{{ rental.hourlyPrice }}JPY/HOUR</span>
        </div>
        <div class="stats">
          <i class="fa fa-heart" aria-hidden="true"></i> 5.3k
        </div>
      </div> -->
    </div>
  </div>
</a>