<div class="booking">
  <h3 class="booking-price">{{rental.hourlyPrice}}円 <span class="booking-per-night">/ 時間</span></h3>
  <hr>
  <ng-container *ngIf="auth.isAuthenticated()">
    <a class="btn btn-danger btn-confirm btn-block" routerLink="booking">本日の空き状況をみる</a>

    <!--
    <button 
            (click)="openConfirmModal(content)" 
            class="btn btn-danger btn-confirm btn-block">本日の空き状況をみる</button>
    -->

    <hr>
  </ng-container>
  <div *ngIf="!auth.isAuthenticated()" class="should-login">
    <a class="btn btn-danger btn-confirm btn-block" routerLink="/login">ログイン後に予約できます</a>
  </div>
  <p class="booking-note-title">多くの人がこの商品に興味を持っています。</p>
  <p class="booking-note-text">先月は100人以上がこの商品に興味を持ちました</p>
</div>
      

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">本日（ {{ today }} ）の空き状況確認</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body"> 
    <ngb-tabset #mytab="ngbTabset">
      <ngb-tab id="tab-selectbyid1" title="Simple"><!-- Fix my title or delete! -->
        <ng-template ngbTabContent>
            <hr>
            <p><span>Date:</span> 09:00 - 11:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(9, 11)"
                      [class]="isValidBooking(9, 11) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(9, 11); mytab.select('tab-2')" 
                      >
                <i class="material-icons">date_range</i> {{isValidBooking(9, 11) ? "予約する" : "完売"}}
              </button>
            </p>
            <hr>
            <p><span>Date:</span> 11:00 - 13:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(11, 13)"
                      [class]="isValidBooking(11, 13) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(11, 13); mytab.select('tab-2')" 
                      >
                <i class="material-icons">date_range</i> {{isValidBooking(11, 13) ? "予約する" : "完売"}}
              </button>
            </p>
            <hr>
            <p><span>Date:</span> 13:00 - 15:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(13, 15)"
                      [class]="isValidBooking(13, 15) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(13, 15); mytab.select('tab-2')" 
                      >
              <i class="material-icons">date_range</i> {{isValidBooking(13, 15) ? "予約する" : "完売"}}
            </button>
            </p>
            <hr>
            <p><span>Date:</span> 15:00 - 17:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(15, 17)"
                      [class]="isValidBooking(15, 17) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(15, 17); mytab.select('tab-2')" 
                      >
              <i class="material-icons">date_range</i> {{isValidBooking(15, 17) ? "予約する" : "完売"}}
            </button>
            </p>
            <hr>
            <p><span>Date:</span> 17:00 - 19:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(17, 19)"
                      [class]="isValidBooking(17, 19) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(17, 19); mytab.select('tab-2')" 
                      >
              <i class="material-icons">date_range</i> {{isValidBooking(17, 19) ? "予約する" : "完売"}}
            </button>
            </p>
            <hr>
            <p><span>Date:</span> 19:00 - 21:00 枠
              <button mat-raised-button 
                      [disabled]="!isValidBooking(19, 21)"
                      [class]="isValidBooking(19, 21) ? 'btn btn-danger' : 'btn'" 
                      (click)="selectDateTime(19, 21); mytab.select('tab-2')" 
                      >
              <i class="material-icons">date_range</i> {{isValidBooking(19, 21) ? "予約する" : "完売"}}
            </button>
            </p>
            <hr>
  
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-2">
        <ng-template ngbTabTitle><b>Fancy</b> title</ng-template> <!-- Fix me! -->
        <ng-template ngbTabContent>
            <p>合計金額：<em>{{newBooking.totalPrice}}</em>円</p>

            <!--てかこのページ自体がwizardに移行したのでもういらない？
            <app-payment *ngIf="!isAutoBooking" (paymentComfirmed)="onPaymentConfirmed($event)"></app-payment>
            -->

            <p>予約申込しますか？</p>
            <p>申込後、30分以内に商品オーナーが受理しなかった場合は自動キャンセルになります。</p>
            <p>その場合、費用が発生することはありません。</p>
          
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>
  <div class="modal-footer">
    <button [disabled]="isAutoBooking ? false : !newBooking.paymentToken" type="button" class="btn btn-danger" (click)="createBooking(); ">予約申込する</button>
    <button mat-raised-button class="btn" (click)="modal.close('Close click')">キャンセル</button>
  </div>
  <div *ngIf="errors.length>0" class="alert alert-danger modal-error">
    <p *ngFor="let error of errors">
      {{error.detail}}
    </p>
  </div>
</ng-template>
