.anytime-pt-logo-rentaldetails{
  z-index: 3;
  position: relative;
  max-width: 500px;
  margin: -40px auto -50px;
  padding: 50px;

  img{
      width: 100%;
  }
}

#rentalListing {
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
