<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/joshua-earlez.jpg')">
        <div class="filter"></div>
    </div>
    <div class="container">
        <div class="tim-title">
            <h2>Privacy Policy</h2>
            <h3>第1条 目的</h3>
        </div>
        <p class="description">
            本方針は、当会社が、パーソナルトレーニングマッチングプラットフォームとしてサービス提供を行うため、当会社の左記業務に関連して顧客からから取得した個人情報を適切かつ安全に管理するための基本方針を明らかにすることを目的とする。
        </p>
        <div class="tim-title">
            <h3>第2条 個人情報の取得</h3>
        </div>
        <p class="description">
            当会社は、個人情報を取得する場合には、予め利用目的を明示し、適法かつ公正な手段によって取得する。
        </p>
        <div class="tim-title">
            <h3>第3条 個人情報の利用</h3>
        </div>
        <p class="description">
            1. 当会社は、取得した個人情報を、事前に明示した目的の範囲内で利用又は提供をする。<br>
            2. 当会社は、取得した個人情報を、目的の範囲外で利用を行わないものとする。また、そのための措置
            を講じるものとする。<br>
            3. 当会社は、取得の際に明示した目的の範囲外で個人情報を使用しようとする場合、事前に当該人情報
            の提供者(以下「提供者」という)の同意を取得する。
        </p>
        <div class="tim-title">
            <h3>第4条 法令、国が定める指針</h3>
        </div>
        <p class="description">
            当会社は、個人情報の取り扱いに関する法令、行政通達・指針等の定めを遵守する。
        </p>
        <div class="tim-title">
            <h3>第5条 第三者提供の制限</h3>
        </div>
        <p class="description">
            当会社は、取得した個人情報を、第三者に漏えい又は開示しない。ただし、法令に基づき行政機関に提供を求められた場合、及び、あらかじめ提供者の同意を得た場合はこの限りではない。
        </p>
        <div class="tim-title">
            <h3>第6条 内容の正確性の確保</h3>
        </div>
        <p class="description">
            当会社は、取得した個人情報が、利用目的の達成に必要な範囲内において、正確かつ最新である状態を保つよう努める。
        </p>
        <div class="tim-title">
            <h3>第7条 権利の尊重</h3>
        </div>
        <p class="description">
            当会社は、個人情報に係る提供者の権利を尊重し、提供者からの開示、訂正、利用停止等の求め、苦情、及び相談がある場合は速やかにこれに対応する。
        </p>
        <div class="tim-title">
            <h3>第8条 安全管理措置</h3>
        </div>
        <p class="description">
            当会社は、個人情報を厳重に管理し、不正アクセス、漏えい、紛失、毀損及び滅失等が起こらないよう、適切な安全対策を講じる。
        </p>
        <div class="tim-title">
            <h3>第9条 従業員の監督・啓発</h3>
        </div>
        <p class="description">
            当会社は、従業員に対し、個人情報の正しい扱いについて周知し、必要な監督と研修・教育を行う。
        </p>
        <div class="tim-title">
            <h3>第10条 個人情報保護マネジメントシステムの構築及び改善</h3>
        </div>
        <p class="description">
            当会社は個人情報の保護が行われるよう、個人情報保護マネジメントシステムを構築し、また、同システムについて定期的に監査を実施し、これを維持・改善する。
        </p>
        <div class="tim-title">
            <h3>第11条 個人情報保護基本規程及びガイドライン</h3>
        </div>
        <p class="description">
            本方針に係る安全管理措置等の具体的内容は個人情報保護基本規程によりこれを定めるものとする。
        </p>
        <div class="tim-title">
            <h3>第12条 個人情報保護方針の公開</h3>
        </div>
        <p class="description">
            当会社は、個人情報保護方針又は同等の内容を定めたプライバシーポリシーを、当会社webサイト上に掲示する。
        </p>
    </div>
</div>
