<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/top-banner-half.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="space-50"></div>
            <div class="motto text-center">
                <h2>トライアル受付フォーム</h2>
                <h3>担当よりご希望に合う方法で導入支援をさせていただきます.</h3>
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="space-top"></div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <!-- <h2 class="text-center">Keep in touch?</h2> -->
                <app-form></app-form>
            </div>
        </div>
    </div>
</div>
