  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Pick the best plan for you</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>次へ進む</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Pick the best Date and Time</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>戻る</button>
          <button mat-button matStepperNext>次へ進む</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Check total price</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>戻る</button>
        <button mat-button (click)="stepper.reset()">やり直す</button>
      </div>
    </mat-step>

    <!-- Override Icon -->
    <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>
  </mat-vertical-stepper>
  