<section id="rentalRequests">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ana-bernardo.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="space-50"></div>
        <div class="motto text-center">
            <h1>Incomming Bookings</h1>
            <h3>You can manage incomming bookings here.</h3>
            <br />
        </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <ng-container *ngIf="payments && payments.length > 0">
          <div *ngFor="let payment of payments" class='col-md-3 col-xs-6'>
            <!-- <app-rental-requests-list-item [booking]="bookin"></app-rental-requests-list-item> -->
            <div class="card" data-background="declined">
              <div class="card-image">
                <img class="img" src="{{ payment.booking.rental.image }}">
              </div>
              <div class="card-body">
                <label class="label label-warning">{{ payment.booking.rental.province }}</label>
                <h5 class="card-title">{{ payment.booking.rental.rentalname }} Trainer</h5>
                <div class="card-description">
                  <div>Revenue: {{payment.ownerRevenue}} JPY</div>
                  <div>Date: {{ payment.booking.startAt |  date: "yyyy / MM / dd" }}</div>
                  <div>Time: {{ payment.booking.startAt |  date: "HH:mm" }} 〜 {{ payment.booking.endAt | date: "HH:mm" }}</div>
                  <div>Status: {{ payment.booking.status }}</div>
                </div>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                      <span> {{ payment.fromUser.username }}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-footer" *ngIf="payment.status === 'pending' && payment.booking.status === 'pending'">
                <hr>
                <button class="btn btn-sm btn-danger" (click)="acceptPayment(payment)">受ける</button>
                <button class="btn btn-sm" (click)="declinePayment(payment)">断る</button>
                <button class="btn btn-sm btn-warning" (click)="openDialog(payment)">提案する</button>
                <!-- <app-review></app-review> -->  
              </div>
            </div>
          </div>
          </ng-container>
          <div class="col-md-4">
              <div *ngIf="!payments || payments.length==0" class="card card-pricing">
                <a routerLink="/rentals">
                  <div class="card-body">
                    <!-- <h3 class="card-category">No bookings found!</h3> -->
                    <h3 class="card-title">No incomming bookings yet!</h3>
                    <!-- <p class="card-description"></p>
                    <div class="card-footer">
                      <p class="btn btn-warning btn-round">Find my Trainer</p>
                    </div> -->
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  