<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, MADE WITH <i class="fa fa-heart heart"></i>
                    <a href="http://www.offshore-gogo.com" target="_blank" class="description">オフショア開発ブログ</a>
                </span>
            </div>
        </div>
    </div>
</footer>
