<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/top-banner.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="anytime-pt-logo">
                        <img src="assets/img/logo/anytime-pt-logo2.png" alt="">
                    </div>
                    <!-- <h1 class="presentation-title">Personal Training</h1> -->
                    <!--
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    -->
                </div>
                <h2 class="presentation-subtitle text-center">選ばれし者の為の会員制パーソナルトレーニング</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class="category-absolute ml-auto mr-auto">
            &copy;{{footer | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> Anytime Personal Trainer.inc
        </h6>
    </div>
    
    <div class="main">
        <div class="section section-dark section-summary">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto text-center">
                        <h2 class="title">今までにない新しい挑戦</h2>
                        <p class="description">
                            ITの飛躍的な進歩により個人と個人が繋がれるようになった現代。
                            <br><br>
                            これまで私たちが安心してサービスを受けれるよう「会社」が従業員を教育し「サービス品質」を担保してきました。
                        </p>
                        <h3 class="title">これからは違います</h3>
                        <p class="description">
                            埋もれている「個人」が努力し提供するサービスを「今」だからこそ利用者から直接フィードバックを受けれます。
                            <br><br>
                            「個人」の評価が可視化できるようになり、それが「個人」の信用・ブランドになります。
                            努力している「個人」が最大限報われる環境を、私たちは全力で提供しています。
                        </p>
                    </div>
                </div>
                <div class="space-top"></div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <div class="info">
                            <div class="iframe-container">
                                <iframe src="https://www.youtube.com/embed/RcmrbNRK-jY?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allowfullscreen height="250"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-layout-11"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> 登録は簡単 </h4>
                                <p>FacebookまたはEメールで簡単に登録でき、通知はEメールに届きます.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-tile-56"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> 予約も簡単 </h4>
                                <p>トレーナーのスケジュールを確認し、最短わずか４クリックで予約完了します.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-paper"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> 相互レビューで安心 </h4>
                                <p>サービスを提供する側、利用する側も双方で評価ができ、評価が高くなるほど優遇される環境です.</p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Professional Trainers</h2>
                        <p class="description">
                            選ばれし優秀なトレーナーたちはこちらからご確認いただけます. 
                            しばらくは厳しい審査をくぐり抜けたトレーナーのみの掲載となりますが、
                            将来的には、チャレンジしたい人にオープンな環境にしていく予定です.
                        </p><br/>
                        <a [routerLink]="['/rentals']" class="btn btn-danger btn-round btn-lg">Trainersを見に行く！</a>
                        <div class="space-top"></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Become members</h2>
                        <p class="description">メンバー登録はこちらから簡単に行えます.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 *ngIf="isFBloggedIn" class="title">Registering with Facebook</h3>
                            <ng-container *ngIf="!isFBloggedIn">
                                <h3 class="title">Register</h3>
                                <div class="social-line text-center">
                                    <button  class="btn btn-neutral btn-facebook btn-just-icon" (click)="FBregister()">
                                        <i class="fa fa-facebook-square"></i>
                                    </button>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>or</span>
                                    <div class="line r"></div>
                                </div>
                            </ng-container>
                            <div *ngIf="errors.length > 0" class="alert alert-danger">
                                <p *ngFor="let error of errors">{{error.detail}}</p>
                            </div>
                            <form class="register-form" #registarForm="ngForm" (ngSubmit)="register()">
                            <!-- <label>Username</label> -->
                            <div class="form-group">
                                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-single-02"></i>
                                            </span>
                                        </div>
                                        <input [(ngModel)]="formData.username"
                                                name="username"
                                                type="username"
                                                class="form-control"
                                                id="username"
                                                placeholder="Username" (focus)="focus=true" (blur)="focus=false"
                                                required>
                                        </div>
                                </div>
                                
                                <!-- <label>Email</label> -->
                                <div class="form-group">
                                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-email-85"></i>
                                            </span>
                                        </div>
                                        <input [(ngModel)]="formData.email"
                                                name="email"
                                                type="email"
                                                class="form-control"
                                                id="email"
                                                placeholder="Email" (focus)="focus1=true" (blur)="focus1=false"
                                                required>
                                        </div>
                                </div>

                                <!-- <label>Password</label> -->
                                <div class="form-group">
                                    <input [(ngModel)]="formData.password"
                                            name="password"
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            placeholder="Password" (focus)="focus2=true" (blur)="focus2=false"
                                            required>
                                </div>
                                <div class="form-group">
                                    <input [(ngModel)]="formData.passwordConfirmation"
                                            name="passwordConfirmation"
                                            type="password"
                                            class="form-control"
                                            id="passwordConfirmation"
                                            placeholder="Confirm Password" (focus)="focus3=true" (blur)="focus3=false"
                                            required>
                                </div>
                                <button [disabled]="!registarForm.valid" type="submit" class="btn btn-danger btn-block btn-round">Request to become Member</button>
                            </form>
                            <div class="forgot">
                                <a routerLink="/login" class="btn btn-link btn-danger">Already have an account?</a>
                            </div>
                        </div>
                        <!-- <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/login']" class="btn btn-outline-neutral btn-round btn-lg">Go to Login</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="section section-dark">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">トレーナーになりたいですか？</h2>
                        <p class="description">
                            現在はクローズド期間の為、まだオープンにはトレーナー登録ができません.<br>
                            ご希望の方は問い合わせフォームよりお問い合わせください.
                        </p>
                        <br>
                        <a routerLink="/contactform" class="btn btn-warning btn-round btn-lg">Request to become Trainer</a>
                    </div>
                </div>
                <!-- <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
