<section id="userPending">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ana-bernardo.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="space-50"></div>
      <div class="motto text-center">
        <h1>My Pending Bookings</h1>
        <h3>You can check your status of bookings here.</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <ngb-tabset [justify]="'center'" type="pills" class="nav-pills-danger">
          <ngb-tab title="予約調整中">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <h2 class="title">Pending bookings</h2>
                  <h5 class="description">日時調整中の予約一覧です.先生からの確認をお待ちください.</h5>
                  <div class="space-top"></div>
                </div>
              </div>
              <div *ngIf="bookings && bookings.length > 0">
                <app-user-pending-list [bookings]="bookings"></app-user-pending-list>
              </div>
              <div class="row">
                <div *ngIf="bookings.length==0" class="col-md-4">
                  <div class="card card-pricing">
                    <a routerLink="/rentals">
                      <div class="card-body">
                        <!-- <h3 class="card-category">No bookings found!</h3> -->
                        <h3 class="card-title">No bookings found !</h3>
                        <p class="card-description"></p>
                        <div class="card-footer">
                          <p class="btn btn-warning btn-round">Find my Trainer</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="期限切れ">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <h2 class="title">Expired bookings</h2>
                  <h5 class="description">時間ぎれにより確定できなかった予約リクエストです.</h5>
                  <div class="space-top"></div>
                </div>
              </div>
              <div *ngIf="bookings && bookings.length > 0">
                <app-user-pending-list [filterExpired]="true" [bookings]="bookings"></app-user-pending-list>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</section>
        