<nav class="navbar navbar-expand fixed-bottom" color-on-scroll="500">
    <div class="container justify-content-start">
        <span class="nav-link">{{ rental.hourlyPrice }} JPY/Hour</span>
        <a *ngIf="!isYourRental()" class="btn btn-danger btn-fill" [routerLink]="['booking']" >Go To Booking</a>
        <button *ngIf="isYourRental()" 
                class="btn btn-fill disabled" 
                ngbPopover="Cannot book your Rental !"
                triggers="mouseenter:mouseleave"
                #pop="ngbPopover" 
                (click)="pop.open()">Go to booking</button>
    </div>
</nav>
