<section id="newRental">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h2>Register your product</h2>
        <form #rentalForm="ngForm">
        <!--<form [formGroup]="myGroup" action="" method="">-->
          <div class="form-group">
            <label for="rentalname">商品の名前</label>
            <input [(ngModel)]="newRental.rentalname"
                   name="rentalname"
                   type="text"
                   class="form-control"
                   id="rentalname"
                   required>
          </div>

          <div class="form-group">
            <label for="age">商品の年齢</label>
            <input [(ngModel)]="newRental.age"
                    name="age"
                    type="number"
                    class="form-control"
                    id="age"
                    required>
          </div>

          <div class="form-group">
            <label for="height">商品の身長</label>
            <input [(ngModel)]="newRental.height"
                    name="height"
                    type="number"
                    class="form-control"
                    id="height"
                    required>
          </div>

          <div class="form-group">
            <label for="bust">バストサイズ</label>

            <select class="form-control"
                    [(ngModel)]="newRental.bust"
                    name="bust"
                    id="bust">
              <option> Aカップ </option>
              <option> Bカップ </option>
              <option> Cカップ </option>
              <option> Dカップ </option>
              <option> Eカップ </option>
              <option> Fカップ </option>
              <option> Gカップ </option>
              <option> Hカップ </option>
              <option> Iカップ以上 </option>
            </select>
          </div>

          <div class="form-group">
            <label for="weight">体型</label>

            <select class="form-control"
                    [(ngModel)]="newRental.weight"
                    name="weight"
                    id="weight">
              <option> 標準的 </option>
              <option> スリム </option>
              <option> 少しポチャ </option>
              <option> ポチャ </option>
            </select>
          </div>

 <!--後で対応する
          <div class="form-group">
            <app-image-upload></app-image-upload>
          </div>
        -->

          <!--
          <div class="form-group">
            <label for="video">プロモーションビデオ（任意）</label>
            <input [(ngModel)]="newRental.image"
                    name="video"
                    type="file"
                    class="form-control"
                    id="video"
                    placeholder="Upload file..."
                    (change)="imageChange()">
          </div>
          -->

          <div class="form-group">
            <label for="province">活動エリア</label>
            <input [(ngModel)]="newRental.province"
                   name="province"
                   type="text"
                   class="form-control"
                   id="province">
          </div>

          <div class="form-group">
            <label for="nearStation">近くの駅</label>
            <input [(ngModel)]="newRental.nearStation"
                    name="nearStation"
                    type="text"
                    class="form-control"
                    id="nearStation">
          </div>

          <div class="form-group">
            <label for="hourlyPrice">時間あたりの値段</label>
            <div class="input-group">
              <input [(ngModel)]="newRental.hourlyPrice"
                      name="hourlyPrice"
                      type="number"
                      class="form-control"
                      id="hourlyPrice"
                      required>
              <div class="input-group-append">
                <div class="input-group-text">円</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">自己紹介</label>
            <textarea [(ngModel)]="newRental.description"
                      name="description"
                      rows="3"
                      type="text"
                      class="form-control"
                      id="description">
            </textarea>
          </div>

          <div class="form-group">
            <label for="weight">公開/非公開</label>

            <select class="form-control"
                    name="weight"
                    id="weight">
              <option> 非公開 </option>
              <option> 公開 </option>
            </select>
          </div>

          <button [disabled]="!rentalForm.form.valid" (click)="createRental()" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/create-rental.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
