<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/airbridal-bg.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="logo">
                <img src="assets/img/logo/airbridal-logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tim-title">
            <h2>利用規約</h2>
            <h4>第１条（定義）</h4>
        </div>
        <p class="description">
            本規約の中で使用される以下の各用語は、次の通りである。<br>
            「当社」：エアブライダル株式会社<br>
            「本サイト」：当社がインターネット上で提供する「Airbridal（エアブライダル）」<br>
            「本サービス」：本件サイトにて提供されるサービス<br>
            「会員」：本規約を承認し、本サイトを利用するために、所定の入会登録を行い、当社がその入会登録を承認した個人および法人<br>
            「ユーザ」：会員、会員登録の申込者、および本サイトの閲覧者など、本サイトを利用する個人および法人。<br>
            「ベンダ」：本サイトにてウェディング関連サービスを提供する会員。<br>
            「利用者」：本サービスを利用する会員（主にウェディングを行うカップル等）。
        </p>
        <div class="tim-title">
            <h4>第２条（本規約について）</h4>
        </div>
        <p class="description">
            (1) 本エアブライダル利用者規約（以下「本規約））は、当社が提供する本サービスについての利用条件を定めるものであり、当社とユーザの一切の関係に適用される。<br>
            (2) 何らかの方法により本サービスを利用することによって、ユーザは本規約の全ての記載内容に承諾したものとみなされる。<br>
            (3) 本サービスに関して、本規約とは別に「ガイドライン」、「ポリシー」等の名称で当社がインターネット上に掲載している文書（以下「当社ガイドライン等」といいます。）がある場合、ユーザは、本規約のほか当社ガイドライン等の定めにも従って本サービスを利用しなければならない。<br>
            (4) 本規約の規定と当社ガイドライン等の規定が異なる場合は、当社ガイドライン等の規定が優先して適用されるものとする。<br>
            (5) 本規約のうち、現時点ではユーザに適用されない規定がある場合、将来適用可能となった時点から適用されるものとする。
        </p>
        <div class="tim-title">
            <h4>第３条（登録）</h4>
        </div>
        <p class="description">
            (1) 本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，会員登録が完了するものとする。<br>
            (2) 当社は，会員登録の申請者に以下の事由があると判断した場合，会員登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとする。<br>
            ①会員登録の申請に際して虚偽の事項を届け出た場合<br>
            ②本規約に違反したことがある者からの申請である場合<br>
            ③その他，当社が会員登録を相当でないと判断した場合<br>
            (3) 利用者は、いかなる場合においても、アカウントを第三者に譲渡・販売・貸与・その他の処分をすることは出来ない。
        </p>
        <div class="tim-title">
            <h4>第４条（ID・パスワードの管理）</h4>
        </div>
        <p class="description">
            (1) 利用者は、自己の責任において、本サービスに関するパスワードおよびベンダIDを適切に管理および保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならない。<br>
            (2) 利用者は、パスワードまたは利用者IDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任を自ら負うものとする。<br>
            (3) 利用者が前項の規定に違反したために被った損害について、直接損害か間接損害かを問わず、当社は一切責任を負わない。利用者が前各項の規定に違反したために第三者が被った損害がある場合、利用者が当該第三者に責任を負うものとし、当社は一切責任を負わない。
        </p>
        <div class="tim-title">
            <h4>第５条（本サイトについて）</h4>
        </div>
        <p class="description">
            (1) 本サイトにおいて、当社以外の第三者から提供・掲載され、利用者に開示、提供される情報（会社情報、製品情報、広告等）を、「第三者情報」という。第三者情報は、登録・掲載した会員の責任で提供されており、当社は第三者情報の内容には一切関与しない。従って、当社は第三者情報の内容に関しては調査し確認する義務を負わない。また、当社は第三者情報について一切の説明する義務を負わない。<br>
            (2) 当社は、第三者情報に関する内容の真実性、正確性、最新性、有用性、信頼性、適法性、第三者の権利を侵害していないこと等について、一切の保証はしない。当社は、第三者情報の内容およびこれを利用したことに起因する損害については一切責任を負わない。利用者は、自らの判断および責任に基づき本サービスを利用するものとする。<br>
            (3) 本サービスは、日本に在住する個人または日本に存在する法人を利用対象者として想定している。海外から利用する場合、利用者はその利用する国および地域における規制等を遵守の上、本サービスを利用するものとする。
        </p>
        <div class="tim-title">
            <h4>第６条（利用者とベンダとの個別契約）</h4>
        </div>
        <p class="description">
            (1) ベンダは、利用者に対して商品・サービス情報を提供する際に、キャンセルポリシーその他利用に関する諸条件（支払い条件含む）、をあわせて、本サイト上で、開示するものとする。<br>
            (2) 利用者が本サイトを利用して行うベンダとの取引は、当事者同士の直接の契約（以下、「個別契約」という。）となり、当社は契約当事者にならない。
        </p>
        <div class="tim-title">
            <h4>第７条（退会）</h4>
        </div>
        <p class="description">
            利用者が退会を希望する場合は、本サイトの所定ページにより退会することができる。ただし、退会の手続を行った時点で、会員間取引の決済など取引の手続が未完のものがある場合は退会することはできない。そのため、利用者は、一連の未完の会員間取引を本規約に従って遅滞なく円滑に進め、完了させた後、退会手続を行うことができるものとする。
        </p>
        <div class="tim-title">
            <h4>第８条（禁止事項）</h4>
        </div>
        <p class="description">
            利用者は、本サイトの利用に際して、以下に記載する行為を行ってはならない。<br>
            ① 偽名、違法に入手した情報またはその他虚偽の情報を登録する行為。<br>
            ② 当社および他の利用者または第三者の財産、プライバシー、著作権、特許権、商標権、その他の知的所有権、企業秘密ならびにその他の権利を侵害する行為。<br>
            ③ 当社および他の利用者または第三者に対する誹謗中傷、名誉毀損、脅迫その他品位を欠き、他人に嫌悪感をあたえる行為。<br>
            ④ 故意、過失を問わず、各種規制法規に違反する行為、またはその虞のある行為。<br>
            ⑤ 利用者自身が責任を負えない行為。<br>
            ⑥ コンピュ－タやシステム、個人情報、その他の各種デ－タに損害や損失を与える、または不当に修正や変更を加えるような行為または不当に情報やデ－タを収集する行為およびこれに至らない全ての不正アクセス行為。<br>
            ⑦ 犯罪もしくは犯罪的行為に結びつく行為。<br>
            ⑧ 公序良俗に反する行為。<br>
            ⑨ 本件サイトへアクセスすることで得た情報を、ベンダーとの話し合い、取引に利用する以外の目的で利用（複製、販売、再販売、出版その他形態を問わず一切の利用をいう）する行為。<br>
            ⑩ 本サイトに登録する、または別途当社との契約により提供されるサービス以外の手段による、広告宣伝等を目的とした行為。<br>
            ⑪ 選挙の事前運動、選挙運動又はこれらに類似する行為および公職選挙法に抵触する行為。<br>
            ⑫ 当社および本件サイトの運営を妨げ、信頼を毀損するような行為、またはその虞のある行為。<br>
            ⑬ 反社会的勢力に対する利益供与その他の協力行為。<br>
            ⑭ 宗教活動または宗教団体への勧誘行為。<br>
            ⑮ 他人の個人情報、登録情報、利用履歴情報などを、不正に収集、開示または提供する行為。<br>
            ⑯ その他、当社が不適当と判断した行為。
        </p>
        <div class="tim-title">
            <h4>第９条（取引への不介入）</h4>
        </div>
        <p class="description">
            当社は、本サービスによる第三者情報の提供をきっかけとして発生したすべての会員間での話し合い、取引に介入することはない。従って、当社は、会員間での実際の交渉、取引、支払い等に関して、またそれらに起因または関連して発生した当事者間および第三者との紛争や、上記紛争に関連して生じた損害等は一切負わない。
        </p>
        <div class="tim-title">
            <h4>第１０条（免責）</h4>
        </div>
        <p class="description">
            本サービスの利用から生じる一切の損害(事業の中断、精神的損害、またはその他の金銭的損害や損失、費用を含む一切の不利益。本規約において以下、「損害等」という。)に関して、当社は責任を負わない。また、下記の各損害についても、間接的であると直接的であるとを問わず、当社は一切責任を負わない。<br>
            (1) 本サービスの提供の一部または全部が変更、中断、停止、終了することによって発生した損害等。<br>
            (2) 通常講ずるべき対策では防止できないウィルス被害と不正アクセスによる被害、天変地異による被害、その他当社の責によらない事由（以下、「不可抗力」という）による損害。<br>
            (3) 本サイトから本サイト以外のサイトやリソ－ス（以下、「外部サイト」という）へのリンク、または外部サイトから当社サイトへのリンクのいずれかがなされている場合における、その外部サイトの利用に関する責任およびこれら外部サイトに起因または関連して生じた損害等。<br>
            (4) その他利用者がインターネットを利用する上で利用者に生じた損害等。
        </p>
        <div class="tim-title">
            <h4>第１１条（不保証）</h4>
        </div>
        <p class="description">
            以下の各項について、いずれも当社が保証するものではない。<br>
            (1) 本サービスの提供に不具合やエラーや障害が生じないことを何ら保証するものではない<br>
            (2) 本サービスから得られるすべての情報等が正確なものであることを何ら保証するものではない<br>
            (3) 本サービスおよび本サービスを通じて入手した商品、役務、情報などが利用者の期待を満たすものであること何ら保証するものではない<br>
            (4) ベンダが本サービスを利用することにより、一定の収益を得られることを何ら保証するものではない<br>
            (5) サービス過程で発生した盗難、事故、機器の故障、火災、雨漏りその他のトラブルについて、一切責任を負わない
        </p>
        <div class="tim-title">
            <h4>第１２条（本サービス並びに会員サービスの中断と終了）</h4>
        </div>
        <p class="description">
            当社は、当社の事情による設備の保守、その他管理上やむを得ない事由がある場合、天変地異など不可抗力により本サービスの提供ができなくなった場合、会員の承諾を得ることなく本サービス（会員サービスを含む）の全部または一部の提供を終了することができる。
        </p>
        <div class="tim-title">
            <h4>第１３条（個人情報の取り扱い）</h4>
        </div>
        <p class="description">
            当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとする。
        </p>
        <div class="tim-title">
            <h4>第１４条（規約の変更）</h4>
        </div>
        <p class="description">
            (1) 当社は、当社が必要と判断する場合、予め会員に通知することなく、本規約を、その他の当社ガイドライン等とは別個独立に単独で随時変更することができるものとする。<br>
            (2) 当社は、当社が必要と判断する場合、予め会員に通知することなく、本規約および当社ガイドライン等を変更できるものとする。変更後の本規約および当社ガイドライン等は、本サイト内の適宜の場所に掲示された時点からその効力を生じるものとし、会員は本規約および当社ガイドライン等の変更後も本サービスを使い続けることにより、変更後の本規約および当社ガイドライン等に対する有効かつ取消不能な同意をしたものとみなされる。
        </p>
        <div class="tim-title">
            <h4>第１５条（事業譲渡時の利用規約合意の承継）</h4>
        </div>
        <p class="description">
            本サービスの一部または全部が、当社から他社に事業譲渡された場合、当該サービスのすべてが自動的に譲受人に承継されるものとする。
        </p>
        <div class="tim-title">
            <h4>第１６条（準拠法、裁判管轄）</h4>
        </div>
        <p class="description">
            本規約および当社ガイドライン等の準拠法は日本法とする。また、本サービスに関連して当社と会員の間で生じた紛争については東京地方裁判所を第一審の専属管轄裁判所とする。
        </p>
        <div class="tim-title">
            <h4>第１７条（協議事項）</h4>
        </div>
        <p class="description">
            本規約に定めのない事項および解釈の疑義については、法令の規定並びに慣習に従うほか、両当事者誠意をもって協議解決を図るものとする。
        </p>
        <div class="tim-title">
            <h4>付則</h4>
        </div>
        <p class="description">
            この利用規約は2019年3月20日より実施。
        </p>
    </div>
</div>
