<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/joshua-earlez.jpg')">
        <div class="filter"></div>
    </div>
    <div class="container">
        <div class="tim-title">
            <h2>Terms of Service</h2>
            <h3>Buttons</h3>
        </div>
        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
        <div class="tim-title">
            <h3>Buttons</h3>
        </div>
        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
        <div class="tim-title">
            <h3>Buttons</h3>
        </div>
        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
    
        
    </div>
</div>
