<section id="login-newpassword">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h2>Set Your New Password</h2>
        <form #registarForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="formData.email"
                   name="email"
                   type="email"
                   class="form-control"
                   id="email"
                   required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="formData.password"
                   name="password"
                   type="password"
                   class="form-control"
                   id="password"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Password(確認)</label>
            <input [(ngModel)]="formData.passwordConfirmation"
                   name="passwordConfirmation"
                   type="password"
                   class="form-control"
                   id="passwordConfirmation"
                   required>
          </div>

          <button [disabled]="!registarForm.form.valid" (click)="setNewPassword(verifyToken)" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">パスワードを再設定します。登録済Emailアドレスと新しいパスワードを設定してください</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
